In [3]:
import pandas as pd
import numpy as np

import sys
#sys.path.insert(0, '/home/jmeline/Projects/ODMToolsPython/odmtools')
sys.path.insert(0, "D:\DEV\ODMTools\ODMToolsPython\odmtools")
#from odmdata import SessionFactory
from odmservices import ServiceManager
from datetime import datetime

ImportError: No module named odmservices

In [21]:
sm = ServiceManager()
sm._current_conn_dict= {'engine':'mssql', 'user':'webapplication' , 'password':'W3bAppl1c4t10n!', 'address':'iutahdbs.uwrl.usu.edu', 'db':'iUTAH_Logan_OD'}
#sm._current_conn_dict= {'engine': 'mysql', 'password': u'zxc', 'db': u'odm', 'user': u'root', 'address': u'localhost'}
ss = sm.get_series_service()
dvs = ss.get_series_by_id(173)
#s= ss.get_series_by_id(20)
#db = db + [x.list_repr() for x in dvs]

db= [x.list_repr() for x in dvs.data_values]
datelist=[ x.local_date_time for x in dvs.data_values]
dates = pd.Series(datelist)

df = pd.DataFrame(db, index = dates, columns = ["ValueID"
#df = pd.DataFrame(db,  columns = ["ValueID"
      ,"DataValue"
      ,"ValueAccuracy"
      ,"LocalDateTime"
      ,"UTCOffset"
      ,"DateTimeUTC"
      ,"SiteID"
      ,"VariableID"
      ,"OffsetValue"
      ,"OffsetTypeID"
      ,"CensorCode"
      ,"QualifierID"
      ,"MethodID"
      ,"SourceID"
      ,"SampleID"
      ,"DerivedFromID"
      ,"QualityControlLevelID"])
df.set_index(["LocalDateTime"], inplace=True)

df

,ValueID,DataValue,ValueAccuracy,UTCOffset,DateTimeUTC,SiteID,VariableID,OffsetValue,OffsetTypeID,CensorCode,QualifierID,MethodID,SourceID,SampleID,DerivedFromID,QualityControlLevelID
LocalDateTime,,,,,,,,,,,,,,,,
2005-08-04 11:30:00,3034095,13.24467,None,-7,2005-08-04 18:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 12:00:00,3034096,13.20857,None,-7,2005-08-04 19:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 12:30:00,3034097,13.20605,None,-7,2005-08-04 19:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 13:00:00,3034098,13.20102,None,-7,2005-08-04 20:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 13:30:00,3034099,13.18003,None,-7,2005-08-04 20:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 14:00:00,3034100,13.17919,None,-7,2005-08-04 21:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 14:30:00,3034101,13.17415,None,-7,2005-08-04 21:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 15:00:00,3034102,13.15736,None,-7,2005-08-04 22:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 15:30:00,3034103,13.16072,None,-7,2005-08-04 22:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 16:00:00,3034104,13.15653,None,-7,2005-08-04 23:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 16:30:00,3034105,13.15317,None,-7,2005-08-04 23:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 17:00:00,3034106,13.16744,None,-7,2005-08-05 00:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 17:30:00,3034107,13.17080,None,-7,2005-08-05 00:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 18:00:00,3034108,13.18507,None,-7,2005-08-05 01:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 18:30:00,3034109,13.20018,None,-7,2005-08-05 01:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 19:00:00,3034110,13.02222,None,-7,2005-08-05 02:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 19:30:00,3034111,13.00207,None,-7,2005-08-05 02:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 20:00:00,3034112,12.98528,None,-7,2005-08-05 03:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 20:30:00,3034113,12.97353,None,-7,2005-08-05 03:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 21:00:00,3034114,12.96429,None,-7,2005-08-05 04:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 21:30:00,3034115,12.95758,None,-7,2005-08-05 04:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 22:00:00,3034116,12.94834,None,-7,2005-08-05 05:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 22:30:00,3034117,12.93911,None,-7,2005-08-05 05:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 23:00:00,3034118,12.93407,None,-7,2005-08-05 06:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-04 23:30:00,3034119,12.90889,None,-7,2005-08-05 06:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-05 00:00:00,3034120,12.91645,None,-7,2005-08-05 07:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-05 00:30:00,3034121,12.91477,None,-7,2005-08-05 07:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-05 01:00:00,3034122,12.90721,None,-7,2005-08-05 08:00:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-05 01:30:00,3034123,12.90301,None,-7,2005-08-05 08:30:00,1,3,None,None,nc,None,4,1,None,None,0
2005-08-05 02:00:00,3034124,12.89882,None,-7,2005-08-05 09:00:00,1,3,None,None,nc,None,4,1,None,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-02-28 04:30:00,3044065,13.11203,None,-7,2006-02-28 11:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 05:00:00,3044066,13.11287,None,-7,2006-02-28 12:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 05:30:00,3044067,13.10364,None,-7,2006-02-28 12:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 06:00:00,3044068,13.11203,None,-7,2006-02-28 13:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 06:30:00,3044069,13.11539,None,-7,2006-02-28 13:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 07:00:00,3044070,13.11455,None,-7,2006-02-28 14:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 07:30:00,3044071,13.10784,None,-7,2006-02-28 14:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 08:00:00,3044072,13.11959,None,-7,2006-02-28 15:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 08:30:00,3044073,13.10700,None,-7,2006-02-28 15:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 09:00:00,3044074,13.11539,None,-7,2006-02-28 16:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 09:30:00,3044075,13.12379,None,-7,2006-02-28 16:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 10:00:00,3044076,13.18674,None,-7,2006-02-28 17:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 10:30:00,3044077,13.13050,None,-7,2006-02-28 17:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 11:00:00,3044078,13.27656,None,-7,2006-02-28 18:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 11:30:00,3044079,13.39912,None,-7,2006-02-28 18:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 12:00:00,3044080,13.51748,None,-7,2006-02-28 19:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 12:30:00,3044081,13.34792,None,-7,2006-02-28 19:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 13:00:00,3044082,13.70300,None,-7,2006-02-28 20:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 13:30:00,3044083,13.67949,None,-7,2006-02-28 20:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 14:00:00,3044084,13.35379,None,-7,2006-02-28 21:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 14:30:00,3044085,13.24299,None,-7,2006-02-28 21:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 15:00:00,3044086,13.80961,None,-7,2006-02-28 22:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 15:30:00,3044087,13.30427,None,-7,2006-02-28 22:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 16:00:00,3044088,13.22116,None,-7,2006-02-28 23:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 16:30:00,3044089,13.19178,None,-7,2006-02-28 23:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 17:00:00,3044090,13.15988,None,-7,2006-03-01 00:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 17:30:00,3044091,13.14981,None,-7,2006-03-01 00:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 18:00:00,3044092,13.12714,None,-7,2006-03-01 01:00:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 18:30:00,3044093,13.11203,None,-7,2006-03-01 01:30:00,1,3,None,None,nc,None,4,1,None,None,0
2006-02-28 19:00:00,3044094,13.10700,None,-7,2006-03-01 02:00:00,1,3,None,None,nc,None,4,1,None,None,0

In [23]:
df.index

<class 'pandas.tseries.index.DatetimeIndex'>
[2005-08-04 11:30:00, ..., 2006-02-28 19:00:00]
Length: 10000, Freq: None, Timezone: None

In [30]:
#df.ix["2013-10-02":"2014-11-01"]
#dt= datetime(2013,10,2,17,45,0)
#df[dt:]
import time
start = time.clock()
df["2013-10-2 17:30":"2013-10-2 17:30"]
end = time.clock()
start2= time.clock()
4df.loc["2005-08-04 11:30:00"]
end2 = time.clock()
print "method 1 = %s, method 2 = %s"%(str(end-start), str(end2-start2))

ValueID                              3034095
DataValue                           13.24467
ValueAccuracy                           None
UTCOffset                                 -7
DateTimeUTC              2005-08-04 18:30:00
SiteID                                     1
VariableID                                 3
OffsetValue                             None
OffsetTypeID                            None
CensorCode                                nc
QualifierID                             None
MethodID                                   4
SourceID                                   1
SampleID                                None
DerivedFromID                           None
QualityControlLevelID                      0
Name: 2005-08-04 11:30:00, dtype: object
method 1 = 0.001573, method 2 = 0.001416

In [21]:
## PRobability ##

import pandas as pd
points = [
	[13.122949999999999, 13.16156, 13.1347, 13.105320000000001, 13.096080000000001, 13.08433, 13.08014, 13.067539999999999, 13.04908, 13.051600000000001, 13.02725, 13.03229, 13.02054, 13.015499999999999, 13.000389999999999, 13.007099999999999, 13.00207, 12.99283, 12.984439999999999, 13.02389, 12.98024, 13.175829999999999, 13.259779999999999, 13.25642, 13.250540000000001, 13.25474, 13.153169999999999, 13.127980000000001, 13.098599999999999, 13.090210000000001, 13.091889999999999, 13.07006, 13.06419, 13.05076, 13.03565, 13.04236, 13.029769999999999, 13.02557, 13.00962, 13.00459, 13.00123, 12.98864, 12.97856, 12.966810000000001, 12.97269, 12.9559, 12.966810000000001, 12.954219999999999, 12.95758, 12.951700000000001, 12.94834, 12.937430000000001, 12.93491, 12.98864, 12.960100000000001, 13.067539999999999, 13.267329999999999, 13.259779999999999, 13.25558, 13.24634, 13.234590000000001, 13.250540000000001, 13.26817, 13.19514, 13.14142, 13.12379, 13.1112, 13.09525, 13.08014, 13.07762, 13.059150000000001, 13.05495, 13.044040000000001, 13.04824, 13.04152, 13.03397, 13.023059999999999, 13.022220000000001, 13.015499999999999, 13.00878, 13.00543, 12.990320000000001, 12.98948, 12.99367, 12.98948, 12.983599999999999, 12.97856, 12.983599999999999, 12.98696, 12.984439999999999, 12.984439999999999, 12.983599999999999, 13.128819999999999, 13.09944, 13.13386, 13.09944, 13.26901, 13.17919, 13.14645, 13.128819999999999, 13.11707, 13.10364, 13.08769, 13.0709, 13.0709, 13.06251, 13.05579, 13.046559999999999, 13.04236, 13.028090000000001, 13.028930000000001, 13.013820000000001, 13.014659999999999, 13.007099999999999, 12.99619, 13.00123, 12.9878, 12.991989999999999, 12.9878, 12.97101, 12.968489999999999, 12.976050000000001, 12.969329999999999, 12.984439999999999, 13.112869999999999, 13.181710000000001, 13.296709999999999, 13.297549999999999, 13.29923, 13.288320000000001, 13.27908, 13.281599999999999, 13.289160000000001, 13.264810000000001, 13.23795, 13.16492, 13.1305, 13.112030000000001, 13.096080000000001, 13.10112, 13.083489999999999, 13.07846, 13.075100000000001, 13.06251, 13.058310000000001, 13.04908, 13.045719999999999, 13.030609999999999, 13.02473, 13.022220000000001, 13.014659999999999, 13.01046, 13.00123, 12.991989999999999, 12.9794, 12.97772, 12.97185, 12.97437, 12.97185, 12.967650000000001, 12.96429, 12.968489999999999, 13.31686, 13.213609999999999, 13.158200000000001, 13.14729, 13.121270000000001, 13.113709999999999, 13.10028, 13.09357, 13.08014, 13.08014, 13.074260000000001, 13.06587, 13.06503, 13.04824, 13.046559999999999, 13.0474, 13.03565, 13.021369999999999, 13.01214, 13.014659999999999, 13.00543, 12.99619, 12.98696, 12.976050000000001, 12.9794, 12.95926, 12.95758, 12.96513, 12.97856, 12.960100000000001, 12.960100000000001, 12.95086, 12.968489999999999, 13.32357, 13.30007, 13.289160000000001, 13.298389999999999, 13.27908, 13.27237, 13.26817, 13.26229, 13.275729999999999, 13.289160000000001, 13.218640000000001, 13.15653, 13.119590000000001, 13.11036, 13.09441, 13.075100000000001, 13.059150000000001, 13.05495, 13.04068, 13.030609999999999, 13.022220000000001, 13.01634, 13.00794, 12.997870000000001, 12.991989999999999, 12.984439999999999, 12.98024, 12.97437, 12.97017, 12.97017, 12.96429, 12.95002, 12.9559, 12.95086, 12.94331, 12.94247, 12.94666, 12.94834, 12.94834, 12.954219999999999, 12.96429, 13.3454, 13.33868, 13.306789999999999, 13.27824, 13.266489999999999, 13.265650000000001, 13.258100000000001, 13.244669999999999, 13.23795, 13.24131, 13.250540000000001, 13.26397, 13.19346, 13.13974, 13.104480000000001, 13.096080000000001, 13.08182, 13.07006, 13.04992, 13.039, 13.02473, 13.022220000000001, 13.01214, 13.00459, 12.997030000000001, 12.99283, 12.9878, 12.9794, 12.97269, 12.968489999999999, 12.96513, 12.960940000000001, 12.94918, 12.95086, 12.94918, 12.94247, 12.94079, 12.93239, 12.935750000000001, 12.938269999999999, 12.935750000000001, 12.94415, 12.95674, 13.313499999999999, 13.31854, 13.28328, 13.258100000000001, 13.251379999999999, 13.251379999999999, 13.245509999999999, 13.233750000000001, 13.237109999999999, 13.281599999999999, 13.305110000000001, 13.320220000000001, 13.26985, 13.15569, 13.121270000000001, 13.10112, 13.091049999999999, 13.07846, 13.068379999999999, 13.05579, 13.03229, 13.02473, 13.023059999999999, 13.023059999999999, 13.012980000000001, 12.997870000000001, 12.991989999999999, 12.990320000000001, 12.9794, 12.97856, 12.97269, 12.968489999999999, 12.966810000000001, 12.96429, 12.95674, 12.953379999999999, 12.951700000000001, 12.95002, 12.95002, 12.95002, 12.94666, 12.98108, 13.02725, 13.33784, 13.32945, 13.326930000000001, 13.33616, 13.312659999999999, 13.3093, 13.306789999999999, 13.30007, 13.335330000000001, 13.30007, 13.33113, 13.234590000000001, 13.165760000000001, 13.13134, 13.105320000000001, 13.10196, 13.076779999999999, 13.07342, 13.059150000000001, 13.05579, 13.038169999999999, 13.03313, 13.022220000000001, 13.015499999999999, 13.00878, 13.00123, 12.983599999999999, 12.98024, 12.97856, 12.96597, 12.960100000000001, 12.96261, 12.95506, 12.95086, 12.94415, 12.936590000000001, 12.944990000000001, 12.94163, 12.94666, 12.936590000000001, 12.94834, 12.98864, 13.304270000000001, 13.32105, 13.290839999999999, 13.281599999999999, 13.274050000000001, 13.27656, 13.275729999999999, 13.26397, 13.25726, 13.259779999999999, 13.25726, 13.27824, 13.19262, 13.13386, 13.114549999999999, 13.089370000000001, 13.07258, 13.06587, 13.053269999999999, 13.044040000000001, 13.03397, 13.029769999999999, 13.01214, 13.007099999999999, 13.00207, 12.997870000000001, 12.99451, 12.98696, 12.982760000000001, 12.97772, 12.968489999999999, 12.96597, 12.9559, 12.96261, 12.95086, 12.95002, 12.94666, 12.9475, 12.97772, 12.95926, 13.051600000000001, 13.180870000000001, 13.190939999999999, 13.25306, 13.20773, 13.150650000000001, 13.12379, 13.091049999999999, 13.08853, 13.074260000000001, 13.058310000000001, 13.04824, 13.044040000000001, 13.037319999999999, 13.02054, 13.0197, 13.01046, 13.00459, 12.991989999999999, 12.984439999999999, 12.967650000000001, 12.967650000000001, 12.95926, 12.9559, 12.954219999999999, 12.954219999999999, 12.94415, 12.94247, 12.937430000000001, 12.94079, 12.93491, 12.931559999999999, 12.92736, 13.00459, 12.97017, 12.97185, 12.96346, 12.960940000000001, 12.953379999999999]][0]
df = pd.DataFrame(points, columns = ["DataValue"])
values = df['DataValue'].tolist()
#', '.join(map(str, values))

#df['rank'] = df.rank(method='max')


#First, I sort the values.
# sorted <- sort(TSSpred)
df.sort(kind='quicksort')

#Then, I rank the sorted values.
# ranks <- rank(sorted, ties.method="max")
ranks = df['DataValue'].rank()

#Then, I reverse the ranking.
# ranks <- max(ranks)-ranks

#This is the actual formula- rank/(length+1) as a %
# PrbExc = ranks/(length(sorted)+1)*100

## Probability plot


df['rank'] = df['DataValue'].rank()

df['PrbExc'] = ranks/(len(ranks)+1)*100
#df.set_index('DataValue')
df.plot(x='PrbExc', y='DataValue', kind="scatter", xlim=(1, 100))

#print PrbExc

#import matplotlib.pyplot as plt
#plt.plot(PrbExc, df['DataValue'])

#Here I plot the probability of exceedance (PrbExc) against the sorted initial values (sorted).
# plot(PrbExc, sorted, type='n', col='white', font.lab=1.5, xlab="Frequency of Exceedance, percent", ylab="TSS, mg/L",log="y")

In [114]:
import datetime
import pprint
x= [
 [0,datetime.datetime(2015,1,1),1,1,1,0],
 [1,datetime.datetime(2015,1,2),0,0,0,1],
 [1,datetime.datetime(2015,1,3),0,0,1,1],
 [0,datetime.datetime(2015,1,4),1,0,0,0],
 [0,datetime.datetime(2015,1,5),0,1,0,0],
 [0,datetime.datetime(2015,1,6),1,1,1,0],
 [0,datetime.datetime(2015,1,7),1,1,1,0],
 [1,datetime.datetime(2015,1,8),0,0,0,1],
 [1,datetime.datetime(2015,1,9),0,0,1,1],
 [0,datetime.datetime(2015,1,10),1,0,0,0],
 [0,datetime.datetime(2015,1,11),0,1,0,0],
 [0,datetime.datetime(2015,1,12),1,1,1,0],
 [0,datetime.datetime(2015,1,13),1,1,1,0],
 [1,datetime.datetime(2015,1,14),0,0,0,1],
 [1,datetime.datetime(2015,1,15),0,0,1,1],
 [0,datetime.datetime(2015,1,16),1,0,0,0],
 [0,datetime.datetime(2015,1,17),0,1,0,0],
 [0,datetime.datetime(2015,1,18),1,1,1,0],
 [0,datetime.datetime(2015,1,19),1,1,1,0],
 [1,datetime.datetime(2015,1,20),0,0,0,1],
 [1,datetime.datetime(2015,1,21),0,0,1,1],
 [0,datetime.datetime(2015,1,22),1,0,0,0],
 [0,datetime.datetime(2015,1,23),0,1,0,0],
 [0,datetime.datetime(2015,1,24),1,1,1,0],
 [1,datetime.datetime(2015,1,25),0,0,0,1]
 ]

## Nice printing
pp = pprint.PrettyPrinter(indent=2)

df = pd.DataFrame(x, columns = ['1', '2', '3', '4', '5', '6'])

#df.set_index('2', inplace=True)
#df.values.flatten()

l = list(df.values.tolist())

#print df
#pp.pprint(x)

## Converting to datetime from timestamp
print df[df["2"] < datetime.datetime(2015, 1, 13)]
"""
for i in l:
    i[1] = i[1].to_pydatetime()
    i[1]= pd.Timestamp(i[1])
    print i[1], type(i[1])
    
""" 
    
    
#df['2'].to_pydatetime()

    1          2  3  4  5  6
0   0 2015-01-01  1  1  1  0
1   1 2015-01-02  0  0  0  1
2   1 2015-01-03  0  0  1  1
3   0 2015-01-04  1  0  0  0
4   0 2015-01-05  0  1  0  0
5   0 2015-01-06  1  1  1  0
6   0 2015-01-07  1  1  1  0
7   1 2015-01-08  0  0  0  1
8   1 2015-01-09  0  0  1  1
9   0 2015-01-10  1  0  0  0
10  0 2015-01-11  0  1  0  0
11  0 2015-01-12  1  1  1  0

'\nfor i in l:\n    i[1] = i[1].to_pydatetime()\n    i[1]= pd.Timestamp(i[1])\n    print i[1], type(i[1])\n    \n'

In [134]:
import pprint
points = [
[datetime.datetime(2005, 8, 12, 8, 0), datetime.datetime(2005, 8, 12, 8, 30), datetime.datetime(2005, 8, 12, 9, 0), datetime.datetime(2005, 8, 26, 1, 0), datetime.datetime(2005, 8, 26, 1, 30), datetime.datetime(2005, 8, 26, 2, 0), datetime.datetime(2005, 8, 26, 2, 30), datetime.datetime(2005, 8, 26, 3, 0), datetime.datetime(2005, 8, 26, 3, 30), datetime.datetime(2005, 8, 26, 4, 0), datetime.datetime(2005, 8, 26, 4, 30), datetime.datetime(2005, 8, 26, 5, 0), datetime.datetime(2005, 8, 26, 5, 30), datetime.datetime(2005, 8, 26, 6, 0)]][0]
results = pd.DataFrame(points, columns=["LocalDateTime"])
print results

         LocalDateTime
0  2005-08-12 08:00:00
1  2005-08-12 08:30:00
2  2005-08-12 09:00:00
3  2005-08-26 01:00:00
4  2005-08-26 01:30:00
5  2005-08-26 02:00:00
6  2005-08-26 02:30:00
7  2005-08-26 03:00:00
8  2005-08-26 03:30:00
9  2005-08-26 04:00:00
10 2005-08-26 04:30:00
11 2005-08-26 05:00:00
12 2005-08-26 05:30:00
13 2005-08-26 06:00:00

In [167]:
## Date Gap Testing... ##

import datetime
import pandas as pd
import numpy as np

points = [
    [datetime.datetime(2005, 8, 4, 16, 0), datetime.datetime(2005, 8, 4, 16, 30), 
     datetime.datetime(2005, 8, 4, 17, 0), datetime.datetime(2005, 8, 4, 17, 30), 
     datetime.datetime(2005, 8, 4, 18, 0), datetime.datetime(2005, 8, 4, 18, 30), 
     datetime.datetime(2005, 8, 4, 19, 15), datetime.datetime(2005, 8, 4, 19, 30), 
     datetime.datetime(2005, 8, 4, 20, 0), datetime.datetime(2005, 8, 4, 20, 30), 
     datetime.datetime(2005, 8, 4, 21, 0), datetime.datetime(2005, 8, 4, 21, 30), 
     datetime.datetime(2005, 8, 4, 22, 0), datetime.datetime(2005, 8, 4, 22, 30), 
     datetime.datetime(2005, 8, 4, 23, 0), datetime.datetime(2005, 8, 4, 23, 30), 
     datetime.datetime(2005, 8, 5, 0, 0), datetime.datetime(2005, 8, 5, 0, 30), 
     datetime.datetime(2005, 8, 5, 1, 0), datetime.datetime(2005, 8, 5, 1, 30), 
     datetime.datetime(2005, 8, 5, 2, 0), datetime.datetime(2005, 8, 5, 2, 30), 
     datetime.datetime(2005, 8, 5, 3, 0), datetime.datetime(2005, 8, 5, 3, 30), 
     datetime.datetime(2005, 8, 5, 4, 0), datetime.datetime(2005, 8, 5, 4, 30), 
     datetime.datetime(2005, 8, 5, 5, 0), datetime.datetime(2005, 8, 5, 5, 30), 
     datetime.datetime(2005, 8, 5, 6, 0), datetime.datetime(2005, 8, 5, 6, 30), 
     datetime.datetime(2005, 8, 5, 7, 0), datetime.datetime(2005, 8, 5, 7, 30), 
     datetime.datetime(2005, 8, 5, 8, 0), datetime.datetime(2005, 8, 5, 8, 30), 
     datetime.datetime(2005, 8, 5, 9, 0), datetime.datetime(2005, 8, 5, 9, 30), 
     datetime.datetime(2005, 8, 5, 10, 0), datetime.datetime(2005, 8, 5, 10, 30), 
     datetime.datetime(2005, 8, 5, 11, 0), datetime.datetime(2005, 8, 5, 11, 30), 
     datetime.datetime(2005, 8, 5, 12, 0), datetime.datetime(2005, 8, 5, 12, 30), 
     datetime.datetime(2005, 8, 5, 13, 0), datetime.datetime(2005, 8, 5, 13, 30), 
     datetime.datetime(2005, 8, 5, 14, 0), datetime.datetime(2005, 8, 5, 14, 30), 
     datetime.datetime(2005, 8, 5, 15, 0), datetime.datetime(2005, 8, 5, 15, 30), 
     datetime.datetime(2005, 8, 5, 16, 0), datetime.datetime(2005, 8, 5, 16, 30), 
     datetime.datetime(2005, 8, 5, 17, 0), datetime.datetime(2005, 8, 5, 17, 30), 
     datetime.datetime(2005, 8, 5, 18, 0), datetime.datetime(2005, 8, 5, 18, 30), 
     datetime.datetime(2005, 8, 5, 19, 0), datetime.datetime(2005, 8, 5, 19, 30), 
     datetime.datetime(2005, 8, 5, 20, 0), datetime.datetime(2005, 8, 5, 20, 30), 
     datetime.datetime(2005, 8, 5, 21, 0), datetime.datetime(2005, 8, 5, 21, 30), 
     datetime.datetime(2005, 8, 5, 22, 0), datetime.datetime(2005, 8, 5, 22, 30), 
     datetime.datetime(2005, 8, 5, 23, 0), datetime.datetime(2005, 8, 5, 23, 30), 
     datetime.datetime(2005, 8, 6, 0, 0), datetime.datetime(2005, 8, 6, 0, 30), 
     datetime.datetime(2005, 8, 6, 1, 0), datetime.datetime(2005, 8, 6, 1, 30), 
     datetime.datetime(2005, 8, 6, 2, 0), datetime.datetime(2005, 8, 6, 2, 30), 
     datetime.datetime(2005, 8, 6, 3, 0), datetime.datetime(2005, 8, 6, 3, 30), 
     datetime.datetime(2005, 8, 6, 4, 0), datetime.datetime(2005, 8, 6, 4, 30), 
     datetime.datetime(2005, 8, 6, 5, 0), datetime.datetime(2005, 8, 6, 5, 30), 
     datetime.datetime(2005, 8, 6, 6, 0), datetime.datetime(2005, 8, 6, 6, 30), 
     datetime.datetime(2005, 8, 6, 7, 0), datetime.datetime(2005, 8, 6, 7, 30)]
][0]

df = pd.DataFrame(points, columns=["datetime"])
demoValue = 30
timePeriod = u'minute'

value = demoValue*10
pd.options.display.max_rows = 999
df['dateprev'] = df['datetime'].shift()
#df['delta'] = (df["datetime"]-df["datetime"].shift())#.fillna(0)
#df['diff'].fillna(True)
df['diff'] = df["datetime"].diff().fillna(0)

df['greaterThan'] = df['diff'] >= np.timedelta64(demoValue, 'm')
#df['ans'] = df['delta'].apply(lambda x: x / np.timedelta64(1, 'm')).astype('int64')%(24*60)
#df[df['greaterThan']]
df = df[df['greaterThan']]
#print df
newdf = pd.concat([df['datetime'], df['dateprev']], join='inner')
print newdf.drop_duplicates().dropna().tolist()



#df["datetime"].diff().fillna(0)
#df[df['diff']]
#df['result'] = df['diff'].apply(lambda x: 1 if x else 0).cumsum()



### Online Example  of DataGaps in Pandas
### https://stackoverflow.com/questions/13976491/split-a-series-on-time-gaps-in-pandas?rq=1

#rng2011 = pd.date_range('1/1/2011', periods=72, freq='H')
#rng2012 = pd.date_range('1/1/2012', periods=72, freq='H')
#Y = rng2011.union(rng2012)

#df = pd.DataFrame(Y)
#df[1] = df[0].diff()
#df[1] = df[1].apply(lambda x: 1 if x else 0).cumsum()
#df

[Timestamp('2005-08-04 16:30:00'), Timestamp('2005-08-04 17:00:00'), Timestamp('2005-08-04 17:30:00'), Timestamp('2005-08-04 18:00:00'), Timestamp('2005-08-04 18:30:00'), Timestamp('2005-08-04 19:15:00'), Timestamp('2005-08-04 20:00:00'), Timestamp('2005-08-04 20:30:00'), Timestamp('2005-08-04 21:00:00'), Timestamp('2005-08-04 21:30:00'), Timestamp('2005-08-04 22:00:00'), Timestamp('2005-08-04 22:30:00'), Timestamp('2005-08-04 23:00:00'), Timestamp('2005-08-04 23:30:00'), Timestamp('2005-08-05 00:00:00'), Timestamp('2005-08-05 00:30:00'), Timestamp('2005-08-05 01:00:00'), Timestamp('2005-08-05 01:30:00'), Timestamp('2005-08-05 02:00:00'), Timestamp('2005-08-05 02:30:00'), Timestamp('2005-08-05 03:00:00'), Timestamp('2005-08-05 03:30:00'), Timestamp('2005-08-05 04:00:00'), Timestamp('2005-08-05 04:30:00'), Timestamp('2005-08-05 05:00:00'), Timestamp('2005-08-05 05:30:00'), Timestamp('2005-08-05 06:00:00'), Timestamp('2005-08-05 06:30:00'), Timestamp('2005-08-05 07:00:00'), Timestamp('2005-08-05 07:30:00'), Timestamp('2005-08-05 08:00:00'), Timestamp('2005-08-05 08:30:00'), Timestamp('2005-08-05 09:00:00'), Timestamp('2005-08-05 09:30:00'), Timestamp('2005-08-05 10:00:00'), Timestamp('2005-08-05 10:30:00'), Timestamp('2005-08-05 11:00:00'), Timestamp('2005-08-05 11:30:00'), Timestamp('2005-08-05 12:00:00'), Timestamp('2005-08-05 12:30:00'), Timestamp('2005-08-05 13:00:00'), Timestamp('2005-08-05 13:30:00'), Timestamp('2005-08-05 14:00:00'), Timestamp('2005-08-05 14:30:00'), Timestamp('2005-08-05 15:00:00'), Timestamp('2005-08-05 15:30:00'), Timestamp('2005-08-05 16:00:00'), Timestamp('2005-08-05 16:30:00'), Timestamp('2005-08-05 17:00:00'), Timestamp('2005-08-05 17:30:00'), Timestamp('2005-08-05 18:00:00'), Timestamp('2005-08-05 18:30:00'), Timestamp('2005-08-05 19:00:00'), Timestamp('2005-08-05 19:30:00'), Timestamp('2005-08-05 20:00:00'), Timestamp('2005-08-05 20:30:00'), Timestamp('2005-08-05 21:00:00'), Timestamp('2005-08-05 21:30:00'), Timestamp('2005-08-05 22:00:00'), Timestamp('2005-08-05 22:30:00'), Timestamp('2005-08-05 23:00:00'), Timestamp('2005-08-05 23:30:00'), Timestamp('2005-08-06 00:00:00'), Timestamp('2005-08-06 00:30:00'), Timestamp('2005-08-06 01:00:00'), Timestamp('2005-08-06 01:30:00'), Timestamp('2005-08-06 02:00:00'), Timestamp('2005-08-06 02:30:00'), Timestamp('2005-08-06 03:00:00'), Timestamp('2005-08-06 03:30:00'), Timestamp('2005-08-06 04:00:00'), Timestamp('2005-08-06 04:30:00'), Timestamp('2005-08-06 05:00:00'), Timestamp('2005-08-06 05:30:00'), Timestamp('2005-08-06 06:00:00'), Timestamp('2005-08-06 06:30:00'), Timestamp('2005-08-06 07:00:00'), Timestamp('2005-08-06 07:30:00'), Timestamp('2005-08-04 16:00:00'), Timestamp('2005-08-04 19:30:00')]

In [177]:
## Change Value Threshold
datavalues = [13.244669999999999,  13.20857, 13.206049999999999,  13.20102,
 13.18003, 13.17919, 13.174149999999999, 13.157360000000001,
 13.16072, 13.15653, 13.153169999999999, 13.167439999999999,
 13.1708, 13.18507, 13.20018, 13.022220000000001, 13.00207,
 12.985279999999999, 12.97353, 12.96429, 12.95758, 12.94834,
 12.939109999999999, 12.93407, 12.90889, 12.916449999999999,
 12.914770000000001, 12.907209999999999, 12.90301, 12.898820000000001,
 12.88874, 12.88958, 12.88706, 12.88706, 12.877829999999999,
 12.876150000000001, 12.875310000000001, 12.861879999999999, 12.86608,
 12.86608, 12.87195, 12.869440000000001, 12.884550000000001, 13.12379,
 13.211930000000001, 13.41339, 13.38653, 13.36806, 13.343719999999999,
 13.304270000000001, 13.273210000000001, 13.23963, 13.21025, 13.21025,
 13.187580000000001, 13.181710000000001, 13.172470000000001, 13.16996,
 13.16156, 13.16996, 13.174989999999999, 13.188420000000001, 13.220319999999999,
 13.075100000000001, 13.04908, 13.02557, 13.022220000000001, 13.00543, 13.00291,
 ]

df = pd.DataFrame(datavalues, columns=["values"])
df['valueprev'] = df['values'].shift()
df['diff'] = df['values'].diff() >= .01
df

      values  valueprev   diff
0   13.24467        NaN  False
1   13.20857   13.24467  False
2   13.20605   13.20857  False
3   13.20102   13.20605  False
4   13.18003   13.20102  False
5   13.17919   13.18003  False
6   13.17415   13.17919  False
7   13.15736   13.17415  False
8   13.16072   13.15736  False
9   13.15653   13.16072  False
10  13.15317   13.15653  False
11  13.16744   13.15317   True
12  13.17080   13.16744  False
13  13.18507   13.17080   True
14  13.20018   13.18507   True
15  13.02222   13.20018  False
16  13.00207   13.02222  False
17  12.98528   13.00207  False
18  12.97353   12.98528  False
19  12.96429   12.97353  False
20  12.95758   12.96429  False
21  12.94834   12.95758  False
22  12.93911   12.94834  False
23  12.93407   12.93911  False
24  12.90889   12.93407  False
25  12.91645   12.90889  False
26  12.91477   12.91645  False
27  12.90721   12.91477  False
28  12.90301   12.90721  False
29  12.89882   12.90301  False
30  12.88874   12.89882  False
31  12.88958   12.88874  False
32  12.88706   12.88958  False
33  12.88706   12.88706  False
34  12.87783   12.88706  False
35  12.87615   12.87783  False
36  12.87531   12.87615  False
37  12.86188   12.87531  False
38  12.86608   12.86188  False
39  12.86608   12.86608  False
40  12.87195   12.86608  False
41  12.86944   12.87195  False
42  12.88455   12.86944   True
43  13.12379   12.88455   True
44  13.21193   13.12379   True
45  13.41339   13.21193   True
46  13.38653   13.41339  False
47  13.36806   13.38653  False
48  13.34372   13.36806  False
49  13.30427   13.34372  False
50  13.27321   13.30427  False
51  13.23963   13.27321  False
52  13.21025   13.23963  False
53  13.21025   13.21025  False
54  13.18758   13.21025  False
55  13.18171   13.18758  False
56  13.17247   13.18171  False
57  13.16996   13.17247  False
58  13.16156   13.16996  False
59  13.16996   13.16156  False
60  13.17499   13.16996  False
61  13.18842   13.17499   True
62  13.22032   13.18842   True
63  13.07510   13.22032  False
64  13.04908   13.07510  False
65  13.02557   13.04908  False
66  13.02222   13.02557  False
67  13.00543   13.02222  False
68  13.00291   13.00543  False